@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Quicksand:wght@300&display=swap');
/* font-family: 'Lusitana', serif;
font-family: 'Quicksand', sans-serif; */

$fonts-headline: 'Lusitana', serif;
$fonts-body: 'Quicksand', sans-serif;
$background-color: #ffedd8;
$primary: #a3b18a;
$accent1: #621708;
$accent2: #d4a276;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
