nav {
    margin: 0 auto; /*makes it to be in the middle of the screen*/
    max-width: 360px;
    background-color: #e7edefff;
    
}

#navigation {
    list-style:none;
    padding:0;
    display:grid;
    grid-template-columns: auto;
    text-align:center;
}

/*Turn on first li*/
#navigation li:first-child {
    display:block;
}

/*Turn off the other lists. Usually it will turn off all but the one above turned one on so it left one on.*/
#navigation li {
    display: none;
}

/*The acronym for this is LoVe HAte. This needs to be typed in this order. You can read w3schools about this.*/
/**/
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, navigation a:focus {
    display: block;
    padding: 0.7em;
    text-align: center;
    text-decoration: none;
    color: #003F91;
    font-weight:bold;
    position: relative;
}
#navigation a:hover {
    color: white;
    background-color: #f87a8b;
}
/*this here is saying a class named navigation that has an id of responsive.*/
#navigation.responsive li {
    display:block;
}
.footer-contact {
    display: none;
}

/*this is so the image is on the same line as h1 and so that the logo is not crazy big*/
.logo {
    width: 100%;
    grid-column: 1;
    text-align: center;    

}

/* h1 img {
    float:left;
    margin:0 5px 0 0;
    max-width:25%;
    height:auto;
} */

/*MAP*/
.map img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Font style of everything*/
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    
}
header {
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    grid-template-columns: auto auto;
}


/*Social Media*/
.social img {
    max-width:10%;
    height:auto;
    border-radius: 25px;
}

.social {
    text-align:center;
}


/*BODY*/
body {
    background-color: #e7edefff;
    color: #003F91;
}

/*MAIN*/
main {
    display: grid;  
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    grid-template-columns:1fr;
    grid-gap: 1em;
    background-color: white;
    padding: 10px;
    margin: 1em;
    text-align:center;
    border-radius: 25px;
}

/*divs*/
/* .hero-image {
    border-style: solid;
    border-radius: 25px;
} */

/* .weather-summary {
    border-style: solid;
    border-radius: 25px;
} */
.forecast {
    border-style: solid;
    border-radius: 25px;
}
.article {
    border-style: solid;
    border-radius: 25px;
}
.contact {
    border-style: solid;
    border-radius: 25px;
}
/*design for the date*/
.date {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
/*Banner*/
.banner p {
    font-size: 125%;
    color: #f87a8b;
    border: dashed;
    border-radius: 25px;
    padding: .5em;
    font-weight: bold;
}

/*-------*/
/* .banner {
    animation: blinker 5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  } */
/*Banner- keep the size*/
 .banner-img {
    max-width: 90%;
    width: 100%;
  }




}
/* --------------------------------------------------------------------------------------------------------------------------------- */


@media only screen and (min-width:34.5em){
    nav {
        max-width: 100%;
        border-radius: 25px;
        
    }
    #navigation {
        grid-template-columns: repeat(7,auto);
    }
    #navigation li {
        display:block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, navigation a:focus {
        text-align:center;
    }
    /*turns off the hamburger menu*/
    #navigation li:first-child {
        display:none;
    }
    /* h1 img {
        float:left;
        margin:0 5px 0 0;
        max-width:10%;
        height:auto;
    } */
    .map img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    }
    header {
        display: grid;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        grid-template-columns: auto auto;
        
    }
    .logo {
        width: 70%;
        grid-column: 1;
        margin: 0 auto;
    }
    .website-name {
       text-align: center;
    }
    #content {
        max-width: 960px;
        margin: 0 auto;
        background-color: white;
        padding: 1em;
        border-radius: 25px;
    }
    main {
        background-color: white;
    }
    .date {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width:54.5em) {
    #navigation {
        width:800px;
        margin:16px auto;
        font-family: 'Ubuntu', sans-serif;
    }
    .map img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        border-radius: 25px;
        }
    h2 {
        text-align: left;
    }    
    main {
        display: grid;  
        margin: 0 auto;
        font-family: 'Ubuntu', sans-serif;
        grid-template-columns:1fr;
        grid-gap: 1em;
        background-color: white;
        padding: 10px;
        margin: 1em;
        text-align:center;
    }
    .logo {
        width: 10%;
        grid-column: 1;
        margin: 0 auto;
    }
    header {
        display: grid;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        grid-template-columns: auto;
    }
    #content {
        max-width: 960px;
        margin: 0 auto;
        background-color: white;
        padding: 1em;
    }
    .date {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
}

