body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    text-align: center;
}
section {
    display: inline-block;
    border: solid 2px black;
    margin: .2em;
    text-align: center;
    background-color:#003f917e;
    padding-bottom: 1em;
}
img {
    width: 60%;
    box-shadow: 5px 5px 5px 5px;
}
header {
    text-align: center;
}