/*font-family: 'Ubuntu', sans-serif;*/
@media only screen and (min-width: 1200px) {
body {
    max-width: 100%;
    grid-gap: 2em;
    margin: 0 auto;
    background-color: rgb(253, 219, 219);
    
}
main {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    grid-template-columns:1fr 1fr 1fr;
}

.proximity {
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 1em;
}

.alignment {
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 15px;
}

.visual-hierarchy {
    grid-column: span 1;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 1em;
}
}